@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-primary: #ffffff;
  --color-secondary: #ffffff;
  --color-tertiary: #f8fafc;
}

@theme dark {
  --color-primary: #1e293b;
  --color-secondary: #334155;
  --color-tertiary: #475569;
}
